@font-face {
  font-family: "SF-Pro-Display-Ultralight";
  src: url("../font/SF-Pro-Display-Ultralight.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Thin";
  src: url("../font/SF-Pro-Display-Thin.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("../font/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Black";
  src: url("../font/SF-Pro-Display-Black.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../font/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("../font/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("../font/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../font/SF-Pro-Display-Bold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Heavy";
  src: url("../font/SF-Pro-Display-Heavy.otf");
}
h1 {
  font-family: "SF-Pro-Display-Bold";
}
h2 {
  font-family: "SF-Pro-Display-Semibold";
}
h3 {
  font-family: "SF-Pro-Display-Medium";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF-Pro-Display-Regular";
}

a.navbar-brand {
  border: 1px solid #0d6efd;
  border-radius: 15px;
  padding: 7px 35px;
  margin: 11px;
}
a.nav-link.active {
  border: 1px solid #0d6efd;
  padding: 11px 30px !important;
  border-radius: 15px;
  background: transparent;
  color: #000 !important;
}
a.sign {
  border: 1px solid #0d6efd;
  background: #0d6efd;
  color: #fff !important;
  border-radius: 15px;
  padding: 11px 25px !important;
}
li.nav-item {
  margin: 10px 5px;
}
a {
  text-decoration: none;
}
a.nav-link.home {
  color: #0d6efd !important;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  font-size: 13px;
}
img.img-profile.rounded-circle {
  width: 40px;
  height: 100%;
}
.fullname {
  margin: 0 0 -8px 8px;
  font-family: "SF-Pro-Display-Bold";
  color: #080808;
}
.mail small {
  margin: 0 0 0px 8px;
  color: #080808;
  font-size: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}
i.fa.fa-cog {
  font-size: 24px;
  padding: 0px 20px;
}
section#home {
  padding: 85px 300px;
}
section#home .content {
  max-width: 795px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
section#home .content small {
  opacity: 0.7;
}
section#home p {
  text-align: left;
}
section#home input.form-control {
  border: 0;
  font-size: 24px;
}
section#home .form-control:focus {
  box-shadow: none !important;
}
section#home .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
section#home form {
  padding: 0;
}
section#home .input-group {
  padding: 13px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
section#home button.btn.btn-default {
  background: #0d6efd;
  padding: 17px 40px;
  border-radius: 20px !important;
  color: #fff;
}
section#home i.fa.fa-search {
  margin-left: 15px;
}

/* login */
section#login {
  padding: 0px 38px;
  display: flex;
  flex-basis: 50%;
}
section#login .login-content {
  padding: 65px 110px;
  width: 50%;
}
section#login span {
  margin-right: 10px;
  color: #c3c3cf;
}
section#login span a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
form {
  padding: 0px 45px 0px 0;
}
.formcontent {
  padding: 100px 0 0 0;
}
.formcontent h1 {
  font-size: 2.2rem;
}
.formcontent p.mb-5 {
  color: #c3c3cf;
}
section#login input.form-control {
  border: 0;
}
section#login .input-group {
  border: 1px solid;
  padding: 10px 10px;
  margin: 35px 0 0 0;
  border-radius: 15px;
}
section#login .form-control:hover {
  border-color: cyan;
}
section#login .form-control:focus {
  box-shadow: none !important;
  border-color: #0d6efd;
}
section#login .input-group:focus-within {
  border-color: #0d6efd;
}
label.email:focus-within {
  color: #0d6efd !important;
}
label.email,
label.password {
  position: absolute;
  top: -14px;
  background: #fff;
  color: #000;
  z-index: 999;
  left: 20px;
  padding: 0 10px;
}
section#login i.fa.fa-envelope,
section#login i.fa.fa-eye {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#login button.btn-primary {
  padding: 14px;
  width: 100%;
  border-radius: 17px;
}
section#login .btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: none !important;
}
section#login .btn-group {
  width: 100%;
}
.back {
  background: #f8f9fa;
  width: 50%;
  height: 100vh;
}
select#cars {
  border: 0;
}
:focus-visible {
  outline: none !important;
}
.select .link {
  display: none;
}
.select .links {
  display: block;
}
.select {
  margin: 30px 0;
}
.select li a {
  color: #000;
}
.select li a:hover {
  color: #000;
}
/* FIlter */
section#filter {
  padding: 0px 0 40px 0;
}
section#filter form {
  padding: 0;
}
section#filter input.form-control {
  border: 0;
  font-size: 13px;
  padding: 11px 10px;
}
section#filter .form-control:focus {
  box-shadow: none !important;
}
section#filter .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
section#filter .input-group {
  padding: 6px 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
section#filter button.btn.btn-default {
  background: #0d6efd;
  padding: 11px 20px;
  border-radius: 19px !important;
  color: #fff;
  font-size: 14px;
}
section#filter i.fa.fa-search {
  margin-left: 15px;
}
section#table th {
  width: 81px;
  color: #adb5bd;
  font-weight: 500;
  font-family: "SF-Pro-Display-Light";
}
section#table {
  overflow: auto;
}
/* section#table th,
section#table td {
  padding: 12px 0 !important;
} */
section#table i.fa.fa-eye {
  font-size: 24px;
  padding: 0px 10px;
  cursor: pointer;
}
td {
  font-family: "SF-Pro-Display-Medium";
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dee2e6;
}
#box-right {
  left: 50%;
  width: 50%;
}
/* portfoliopage */

.wrapper {
  overflow: auto;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #dee2e6;
}
section#portfoliopage .table {
  margin-bottom: 0rem;
}
section#portfoliopage th {
  color: #adb5bd;
  font-weight: 500;
}
section#portfoliopage th,
section#portfoliopage td {
  padding: 12px 30px !important;
  border: 1px solid #cccccc;
}
section#portfoliopage i.fa.fa-eye {
  font-size: 24px;
  padding: 0px 10px;
  cursor: pointer;
}
/* PortfolioHistory */
section#download {
  padding: 20px;
}
section#download .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#download .downloadbutton {
  border: 1px solid #0d6efd;
  padding: 8px 20px;
  border-radius: 18px;
}

section#download .content a {
  color: #222;
  font-size: 12px;
}
/* Setting */
section#setting .billing {
  overflow: auto;
}
section#setting .billing th {
  color: #adb5bd;
  font-weight: 500;
  padding: 10px 20px;
  font-family: "SF-Pro-Display-Light";
}

section#setting .billing td {
  padding: 10px 20px !important;
  font-family: "SF-Pro-Display-Medium";
}
section#setting a.sideactive {
  color: #222;
}
.sidemenu ul li {
  padding: 10px 0;
}
section#setting a {
  color: #adb5bd;
  font-size: 14px;
}
section#setting .billing a {
  color: #0d6efd;
}
section#setting .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#setting .contents small {
  font-size: 14px;
}
section#setting .upgrade-contents a.btn {
  border: 1px solid;
  color: #0d6efd !important;
  border-radius: 9px;
  padding: 7px 20px;
  font-size: 14px;
  background: #fff;
}
section#setting .upgrade-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.swiper-button-next {
  top: 12%;
  right: 0rem;
}

.swiper-button-prev {
  top: 12%;
  right: 2rem;
  left: auto;
}
.card {
  height: 150px;
  border-radius: 18px;
}
.swiper-button-next,
.swiper-button-prev {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #007aff;
  border-radius: 1rem;
  background: #fff;
  color: #007aff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.5rem;
  font-weight: 600;
}
.card-slider {
  padding: 0 0 50px 0;
}
section#setting h4 {
  font-family: "SF-Pro-Display-Medium";
  margin-bottom: 1rem;
}
a.btn.btn-borderd {
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 14px;
}
section#setting h5 {
  font-family: "SF-Pro-Display-bold";
}
section#setting .card a {
  color: #fff;
  font-size: 14px;
}
.card {
  height: 150px;
  border-radius: 18px;
  background: #007aff;
}
.card h5 {
  color: #fff;
}
div#remain {
  background: #ecedee;
}
div#remain h5 {
  color: #000;
}
div#rborder {
  border-right: 2px solid #ecedee;
  height: 100%;
}
div#rborder ul {
  margin-top: 2rem;
}
/* profile */
.profile .form-group {
  display: flex;
  margin: 35px 0;
}
.profile .name {
  margin: 0 50px 0 0;
}
.profile input.input-group {
  border: 0;
  border-bottom: 2px solid #e6e6e6;
  padding: 15px 0px;
  width: 220px;
}
.profile label {
  font-size: 19px;
  font-family: "SF-Pro-Display-bold";
}
.profile ::placeholder {
  color: #bebebe;
}
.profile .btn-primary {
  color: #fff;
  background-color: #000aff;
  border-color: #000aff;
  padding: 13px 33px;
  font-size: 14px;
  border-radius: 18px;
}
.profile span#password {
  display: flex;
  align-items: center;
}
.profile .avtar {
  position: relative;
}
.profile .avtar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile .avtar i.fa.fa-pencil {
  position: absolute;
  left: 9%;
  top: 38%;
  background: #000aff;
  padding: 8px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.profile .pheadcontent {
  display: flex;
}
.profile .pheadcontent span {
  margin-right: 10px;
  color: #bebebe;
  font-size: 18px;
}
.profile form {
  padding: 35px 0 0 0;
}
@media (max-width: 1068px) {
  section#login .login-content {
    padding: 65px 50px;
    width: 50%;
  }
  section#home {
    padding: 85px 150px;
  }
  section#home button.btn.btn-default {
    background: #0d6efd;
    padding: 10px 15px;
    border-radius: 20px !important;
    color: #fff;
  }

  #box-right {
    left: 0%;
    width: 100%;
  }
  div#rborder h2 {
    font-size: 1.4rem;
  }
  section#setting a {
    color: #adb5bd;
    font-size: 10px;
  }
  div#rborder ul {
    margin-top: 0rem;
  }
}
@media (max-width: 768px) {
  section#login .login-content {
    padding: 50px 10px;
    width: 50%;
  }
  section#login {
    padding: 0px 20px;
    display: flex;
    flex-basis: 50%;
  }
  section#home {
    padding: 85px 0px;
  }
  .sidemenu ul {
    padding-left: 1rem !important;
  }
  .sidemenu ul li {
    padding: 5px 0;
  }
  section#setting a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  nav.navbar.navbar-expand-lg.navbar-light.p-4 {
    padding: 0.5rem 0 !important;
  }
  section#login {
    padding: 0px 20px;
    display: block;
  }
  section#login .login-content {
    padding: 50px 10px;
    width: 100%;
  }
  .back {
    background: #f8f9fa;
    width: 100%;
    height: 50vh;
  }
  form {
    padding: 0px 0 0px 0;
  }
  div#rborder h2 {
    font-size: 2rem;
  }
  div#rborder {
    border-right: 0;
    height: 100%;
  }
  .profile .pheadcontent {
    display: block;
  }
  .profile .form-group {
    display: block;
    margin: 35px 0;
  }
  .profile .name {
    margin: 0 10px;
  }
  .profile input.input-group {
    border: 0;
    border-bottom: 2px solid #e6e6e6;
    padding: 15px 0px;
    width: 100%;
  }
  .profile .avtar i.fa.fa-pencil {
    position: absolute;
    left: 20%;
  }
  section#setting a {
    font-size: 16px;
  }
}
