* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a.navbar-brand {
  border: 1px solid #0d6efd;
  border-radius: 17px;
  padding: 7px 35px;
  margin: 10px;
}
a.nav-link.active {
  border: 1px solid #0d6efd;
  padding: 10px 30px !important;
  border-radius: 17px;
  background: transparent;
  color: #000 !important;
}
a.nav-link {
  border: 1px solid #0d6efd;
  background: #0d6efd;
  color: #fff !important;
  border-radius: 17px;
  padding: 10px 17px !important;
}
li.nav-item {
  margin: 10px 10px;
}
a {
  text-decoration: none;
}
section#home {
  padding: 100px;
}
section#home .content {
  max-width: 795px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
section#home p.text-left {
  text-align: left;
}
section#home input.form-control {
  border: 0;
}
section#home .form-control:focus {
  box-shadow: none !important;
}
section#home .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
section#home .input-group {
  padding: 13px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
section#home button.btn.btn-default {
  background: #0d6efd;
  padding: 17px 40px;
  border-radius: 20px !important;
  color: #fff;
}
section#home i.fa.fa-search {
  margin-left: 15px;
}
p.mb-2 {
  text-align: left;
}
/* login */
section#login {
  padding: 100px 80px;
}
form {
  padding: 100px 0;
}
section#login input.form-control {
  border: 0;
}
section#login .input-group {
  border: 1px solid;
  padding: 10px 10px;
  margin: 30px 0;
  border-radius: 17px;
}
section#login .form-control:hover {
  border-color: cyan;
}
section#login .form-control:focus {
  box-shadow: none !important;
  border-color: #0d6efd;
}

label.email,
label.password {
  position: absolute;
  top: -14px;
  background: #fff;
  color: #000;
  z-index: 999;
  left: 20px;
  padding: 0 10px;
}
section#login i.fa.fa-envelope,
section#login i.fa.fa-eye {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#login button.btn-primary {
  padding: 14px;
  width: 100%;
  border-radius: 17px;
}
section#login .btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: none !important;
}
section#login .btn-group {
  width: 100%;
}
.back {
  background: #f8f9fa;
  width: 100%;
  height: 100%;
}
@media (max-width: 1068px) {
  section#home {
    padding: 100px 0px;
  }
  form {
    padding: 50px 0;
  }
  section#home button.btn.btn-default {
    background: #0d6efd;
    padding: 10px 15px;
    border-radius: 20px !important;
    color: #fff;
  }
  section#login {
    padding: 100px 0px;
  }
}
