@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url("fonts/SFPRODISPLAYREGULAR.woff");
}
@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: url("fonts/SFPRODISPLAYMEDIUM.woff");
}
@font-face {
  font-family: "SFPRODISPLAYBOLD";
  src: url("fonts/SFPRODISPLAYBOLD.woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SFPRODISPLAYREGULAR";
}
h1 {
  font-family: "SFPRODISPLAYBOLD";
}
p {
  font-family: "SFPRODISPLAYREGULAR";
}
a.navbar-brand {
  border: 1px solid #0d6efd;
  border-radius: 17px;
  padding: 7px 35px;
  margin: 10px;
}
a.nav-link.active {
  border: 1px solid #0d6efd;
  padding: 10px 30px !important;
  border-radius: 17px;
  background: transparent;
  color: #000 !important;
}
a.sign {
  border: 1px solid #0d6efd;
  background: #0d6efd;
  color: #fff !important;
  border-radius: 17px;
  padding: 10px 17px !important;
}
li.nav-item {
  margin: 10px 10px;
}
a {
  text-decoration: none;
}
a.nav-link.home {
  color: #0d6efd !important;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}
i.fa.fa-cog {
  font-size: 24px;
  padding: 0px 20px;
}
section#home {
  padding: 100px;
}
section#home .content {
  max-width: 795px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
section#home .content p.mb-3 {
  opacity: 0.7;
}
section#home p.text-left {
  text-align: left;
}
section#home input.form-control {
  border: 0;
  font-size: 24px;
}
section#home .form-control:focus {
  box-shadow: none !important;
}
section#home .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
section#home .input-group {
  padding: 13px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
section#home button.btn.btn-default {
  background: #0d6efd;
  padding: 17px 40px;
  border-radius: 20px !important;
  color: #fff;
}
section#home i.fa.fa-search {
  margin-left: 15px;
}
p.mb-2 {
  text-align: left;
}
/* login */
section#login {
  padding: 100px 80px;
}
section#login span {
  margin-right: 10px;
  color: #c3c3cf;
}
section#login span a {
  text-decoration: none;
  font-family: "SFPRODISPLAYMEDIUM";
  font-weight: 600;
  letter-spacing: 1px;
}
form {
  padding: 100px 0;
}
form p.mb-3 {
  color: #c3c3cf;
}
section#login input.form-control {
  border: 0;
}
section#login .input-group {
  border: 1px solid;
  padding: 10px 10px;
  margin: 30px 0;
  border-radius: 17px;
}
section#login .form-control:hover {
  border-color: cyan;
}
section#login .form-control:focus {
  box-shadow: none !important;
  border-color: #0d6efd;
}
section#login .input-group:focus-within {
  border-color: #0d6efd;
}
label.email:focus-within {
  color: #0d6efd !important;
}
label.email,
label.password {
  position: absolute;
  top: -14px;
  background: #fff;
  color: #000;
  z-index: 999;
  left: 20px;
  padding: 0 10px;
}
section#login i.fa.fa-envelope,
section#login i.fa.fa-eye {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#login button.btn-primary {
  padding: 14px;
  width: 100%;
  border-radius: 17px;
}
section#login .btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: none !important;
}
section#login .btn-group {
  width: 100%;
}
.back {
  background: #f8f9fa;
  width: 100%;
  height: 100%;
}
select#cars {
  border: 0;
}
:focus-visible {
  outline: none !important;
}
.select .link {
  display: none;
}
.select .links {
  display: block;
}
.select {
  margin: 0 0 20px 0;
}
.select li a {
  color: #000;
}
.select li a:hover {
  color: #000;
}
/* FIlter */
section#filter {
  padding: 0px 0 40px 0;
}
section#filter form {
  padding: 0;
}
section#filter input.form-control {
  border: 0;
  font-size: 16px;
}
section#filter .form-control:focus {
  box-shadow: none !important;
}
section#filter .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
section#filter .input-group {
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
section#filter button.btn.btn-default {
  background: #0d6efd;
  padding: 7px 20px;
  border-radius: 15px !important;
  color: #fff;
}
section#filter i.fa.fa-search {
  margin-left: 15px;
}
section#table th {
  width: 81px;
  color: #adb5bd;
  font-weight: 500;
}
section#table {
  overflow: auto;
}
/* section#table th,
section#table td {
  padding: 12px 0 !important;
} */
section#table i.fa.fa-eye {
  font-size: 24px;
  padding: 0px 10px;
  cursor: pointer;
}
td {
  font-family: "SFPRODISPLAYBOLD";
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dee2e6;
}
#box-right {
  left: 50%;
  width: 50%;
}
/* portfoliopage */

.wrapper {
  overflow: auto;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #dee2e6;
}
section#portfoliopage .table {
  margin-bottom: 0rem;
}
section#portfoliopage th {
  color: #adb5bd;
  font-weight: 500;
}
section#portfoliopage th,
section#portfoliopage td {
  padding: 12px 30px !important;
  border: 1px solid #cccccc;
}
section#portfoliopage i.fa.fa-eye {
  font-size: 24px;
  padding: 0px 10px;
  cursor: pointer;
}
/* PortfolioHistory */
section#download {
  padding: 20px;
}
section#download .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#download .downloadbutton {
  border: 1px solid #0d6efd;
  padding: 10px 20px;
  border-radius: 15px;
}

section#download .content a {
  color: #222;
}
/* Setting */
section#setting .billing {
  overflow: auto;
}
section#setting .billing th {
  color: #adb5bd;
  font-weight: 500;
  padding: 10px 20px;
}

section#setting .billing td {
  padding: 10px 20px !important;
  font-family: "SFPRODISPLAYREGULAR";
}
section#setting a.sideactive {
  color: #222;
}
.sidemenu ul li {
  padding: 10px 0;
}
section#setting a {
  color: #adb5bd;
}
section#setting .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-button-next {
  top: 15%;
  right: 2rem;
}

.swiper-button-prev {
  top: 15%;
  right: 5rem;
  left: auto;
}
.card {
  height: 130px;
}
.swiper-button-next,
.swiper-button-prev {
  height: 2rem;
  width: 2rem;
  border: 1px solid #007aff;
  border-radius: 1rem;
  background: #fff;
  color: #007aff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}
.card-slider {
  padding: 50px 0;
}
@media (max-width: 1068px) {
  section#home {
    padding: 100px 0px;
  }
  form {
    padding: 50px 0;
  }
  section#home button.btn.btn-default {
    background: #0d6efd;
    padding: 10px 15px;
    border-radius: 20px !important;
    color: #fff;
  }
  section#login {
    padding: 100px 0px;
  }
  #box-right {
    left: 0%;
    width: 100%;
  }
}
